################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextFileViewer/obj
/TextFileViewer/bin
/TextFileViewer/TextFileViewer.csproj.user
